body{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-style: italic;
}
a{
    color: red;
}
p{
    background: yellow;
}
<<<<<<< HEAD
h1{
    color: darkblue;
=======
h2{
    color: pink;
>>>>>>> a513660b4eca36e766723eb706449b1c14d8a51c
}