body{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-style: italic;
}
a{
    color: red;
}
p{
    background: yellow;
}
h2{
    color: pink;
}
h3{
    color: olivedrab;
}
h4{
    color: mediumspringgreen;
}
h5{
    color: magenta;
}
h6{
    color: maroon;
}
section{
    margin: 5px;
}
table{
    padding: 0;
}